.hero__title{
    padding: 62px 0;
    font-weight: 400;
    font-size: 54px;
    text-transform: uppercase;
    max-width: 900px;
}


@media (max-width: 768px){
    .hero__title{
        padding: 40px 0;
        font-size: 40px;
    }
}

@media (max-width: 560px){
    .hero__title{
        padding: 16px 0;
        font-size: 24px;
        margin-bottom: 16px;
        max-width: 420px;
    }
}