@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-cyrillic_latin-regular.woff2') format('woff2'), 
        url('../fonts/raleway-v28-cyrillic_latin-regular.woff') format('woff'); 
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    min-width: 320px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background-color: #241D1C;
    color: #F6F3E3;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: fixed;
    transform: scale(0);
}

.container{
    max-width: 1312px;
    padding: 0 48px;
    margin: 0 auto;
}

.header__container{
    padding-top: 16px;
    padding-bottom: 17px;
    border-bottom: 2px solid #5F5F5F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    margin-right: 54px;
}

.navigation__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px ;
}

.navigation__link{
    text-decoration: none;
    color: #F6F3E3;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}

.main-link{
    display: inline-block;
    background-color: #F6F3E3;
    width: 185px;
    height: 40px;
    border-radius: 4px;
    padding: 13px 46px;

    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #241D1C;
    cursor: pointer;
}

.main-link:hover:not(:disabled){
    background-color: #EFE7BE;
}
.main-link:focus-visible{
    outline: 1px solid #fff;    
}
.main-link:disabled{
    opacity: 0.4;
}



@media (max-width: 768px){
    .header__navigation{
        display: none;
    }
}

@media (max-width: 560px){
    .container{
        padding: 0 24px;
    }
    .main-link{
        font-size: 12px;
        padding: 10px 24px;  
        width: 140px;
        height: 35px;
    }
}


