@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-cyrillic_latin-regular.woff2') format('woff2'), 
        url('../fonts/raleway-v28-cyrillic_latin-regular.woff') format('woff'); 
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    min-width: 320px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background-color: #241D1C;
    color: #F6F3E3;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: fixed;
    transform: scale(0);
}

.container{
    max-width: 1312px;
    padding: 0 48px;
    margin: 0 auto;
}



